* {
    box-sizing: border-box;
  }

body {
    background-image: url('../images/dust_scratches.png');
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Georgia','Times New Roman', Times, serif;
    color: #4aaaa5;
}

header {
    overflow: hidden;
    background-color: #fff;
    border-bottom: #ddd 1px solid;
}

header a {
    float: left;
    color: #777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

header nav.navContainer {
    width: 960px;
    margin: auto;
}

header nav.navContainer a.active {
    background-color: #4aaaa5;
    color: #fff;
    font-family: 'Georgia','Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
 }

.topNav-right {
    float: right;
}

.container {
    max-width: 960px; 
    margin: 100px auto;
    color: #777;
    padding: 20px 45px 20px 45px;
    background-color: #fff;
    border: 1px solid #ddd;
    overflow: auto;
}

hr {
    border-color: #ddd;
}

a~a {
    border-left: 1px solid #ddd;
}

img.profile {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

form {
    padding-top: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=submit] {
    width: 10em;
    height: 35px;
    color: #fff;
    background-color: #4aaaa5;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 16px;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
/* Create two equal columns that sits next to each other */
  
.text-block {
    position: relative;
    bottom: 80px;
    /* width: 240px; */
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    line-height: 1.75em;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.5em;
}

.leftCol {
    position: relative;
    float: left;
    padding-right: 25px;
    padding-top: 15px;
}

.rightCol {
    float: left;
}

.leftCol img {
    width: 240px;
    height: 360px;
}

.leftCol img:hover {
    box-shadow: 0 4px 4px #ada8a8; /* goes x-axis, y-axis, blur, (stretch factor on x-axis, not used here), colour */
}

.rightCol {
    padding-top: 15px;
}

.rightCol img {
    width: 240px;
    height: 360px;
}

.rightCol img:hover {
    box-shadow: 0 4px 4px #ada8a8; /* goes x-axis, y-axis, blur, (stretch factor on x-axis, not used here), colour */
}

/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: #4aaaa5 10px solid;
    background-color: #666;
    color: white;
    text-align: center;
}

/* Media Queries */

@media screen and (max-width: 980px) {
    header .navContainer {
        margin-left: 5%;
    }
    .topNav-right {
        margin-right: 5%;
    }
    section {
        margin-top: 5%;
    }
    .container {
        max-width: 70%;
        margin: 0 0 10% 5%;
    }
  }

  @media screen and (max-width: 768px) {
    header .navContainer {
        margin-left: 5%;
    }
    .topNav-right {
        margin-right: 30%;
    }
    section {
        margin-top: 5%;
    }
    .container {
        max-width: 90%;
        margin: 0 0 10% 5%;
    }
  }

@media screen and (max-width: 640px) {
    .navContainer a.active {
        display: inline-block;
        width: 75%;
    }
    .topNav-right {
        width:  50%;
    }
}